:root {
  --font-family: "Inter", sans-serif;
  --content-width: 1480px;
  --container-offset: 15px;
  --container-width: calc(var(--content-width) + (var(--container-offset) * 2));
  --white: #fff;
  --black: #000000;
  --light-white: #CFD5D9;
  --light-black: #373B3F;
  --light-blue: #3FA8E3;
  --light-violet: #9747FF;
  --light-yellow: #FFBC00;
  --light-red: #E55030;
  --light-green: #00AD45;
  --text-search: rgba(0, 0, 0, 0.5);
  --color-bg: #14202B;
  --color-nav: #1F2123;
  --icons-blue: #6B97C7;
  --icons-light-blue: #75CAF6;
  --icons-middle-blue: #00AEEF;
  --index: calc(1vw + 1vh);
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable */
.custom-checkbox__field:checked + .custom-checkbox__content::after {
  opacity: 1;
}

.custom-checkbox__field:focus + .custom-checkbox__content::before {
  outline: 2px solid #f00;
  outline-offset: 2px;
}

.custom-checkbox__field:disabled + .custom-checkbox__content {
  opacity: 0.4;
  pointer-events: none;
}

/* stylelint-disable */ /* stylelint-disable */ /* stylelint-disable value-keyword-case */
@font-face {
  font-family: "Dorsa";
  src: url("../fonts/../fonts/Dorsa-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "RobotoCondensed";
  src: url("../fonts/../fonts/RobotoCondensed-Light.woff2") format("woff2");
  font-weight: 300;
  font-display: swap;
  font-style: normal;
}
@font-face {
  font-family: "Roboto";
  src: url("../fonts/../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
  font-style: normal;
}
html {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

h1, h2, h3, h4 {
  padding: 0;
  margin: 0;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-tap-highlight-color: transparent;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

*:focus {
  outline: none;
}

.page {
  height: 100%;
  font-family: var(--font-family, sans-serif);
  -webkit-text-size-adjust: 100%;
}

.page__body {
  margin: 0;
  min-width: 320px;
  height: 100%;
  min-height: 100%;
  font-size: 16px;
  background: #EBF0FE;
  color: #293A50;
  overflow-x: hidden;
}

img {
  height: auto;
  max-width: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

a {
  text-decoration: none;
}

.site-container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.is-hidden {
  display: none !important; /* stylelint-disable-line declaration-no-important */
}

.main {
  -webkit-box-flex: 1;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto;
}

.btn-reset {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.input-reset {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border: none;
  border-radius: 0;
  background-color: #fff;
}
.input-reset::-webkit-search-decoration, .input-reset::-webkit-search-cancel-button, .input-reset::-webkit-search-results-button, .input-reset::-webkit-search-results-decoration {
  display: none;
}

.visually-hidden {
  position: absolute;
  overflow: hidden;
  margin: -1px;
  border: 0;
  padding: 0;
  width: 1px;
  height: 1px;
  clip: rect(0 0 0 0);
}

.container {
  margin: 0 auto;
  padding: 0 15px;
}
@media (min-width: 768px) {
  .container {
    padding: 0 30px;
  }
}
@media (min-width: 1600px) {
  .container {
    margin: 0 auto;
    padding: 0 30px;
    max-width: 1920px;
  }
}

.js-focus-visible :focus:not(.focus-visible) {
  outline: none;
}

.centered {
  text-align: center;
}

.dis-scroll {
  position: fixed;
  left: 0;
  top: 0;
  overflow: hidden;
  width: 100%;
  height: 100vh;
  -ms-scroll-chaining: none;
  overscroll-behavior: none;
}

.page--ios .dis-scroll {
  position: relative;
}

.bb {
  height: 1px;
  width: 100%;
  background: #293a50;
}

.header {
  background: #EBF0FE;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 1000;
  overflow-x: clip;
}
.header__menu {
  padding-right: 15px;
}
@media (min-width: 1024px) {
  .header__menu {
    padding-right: 30px;
  }
}
.header__content {
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
@media (min-width: 1024px) {
  .header__content {
    padding: 20px 0;
  }
}
.header__logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  padding-left: 15px;
}
@media (min-width: 1024px) {
  .header__logo {
    padding-left: 30px;
  }
}

.burger {
  --burger-width: 50px;
  --burger-height: 40px;
  --burger-line-height: 2.5px;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: none;
  padding: 0;
  width: var(--burger-width);
  height: var(--burger-height);
  color: #ffffff;
  padding: 20px;
  background-color: transparent;
  cursor: pointer;
  z-index: 101;
}
.burger::before, .burger::after {
  content: "";
  position: absolute;
  left: 0;
  width: 50px;
  height: var(--burger-line-height);
  background-color: currentColor;
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger::before {
  top: calc(0% - var(--burger-line-height) + 10px);
}
.burger::after {
  top: calc(100% - var(--burger-line-height) - 9px);
}
.burger__line {
  position: absolute;
  left: 0;
  top: 50%;
  width: 50px;
  height: 2px;
  border-radius: 11px;
  background-color: currentColor;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::before {
  top: 19px;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active::after {
  top: 19px;
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
  -webkit-transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  transition: top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, top 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger--active .burger__line {
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  -o-transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.burger__line {
  background: #293a50;
}
.burger:before {
  background: #293a50;
}
.burger:after {
  background: #293a50;
}
.burger.burger--active:before {
  background: #ffffff;
}
.burger.burger--active:after {
  background: #ffffff;
}
@media (min-width: 1024px) {
  .burger:hover .burger__line {
    background: #E9896B;
  }
  .burger:hover:before {
    background: #E9896B;
  }
  .burger:hover:after {
    background: #E9896B;
  }
}

.nav {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  background: #384a63;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
  z-index: 100;
}
.nav.menu--active {
  opacity: 1;
  visibility: visible;
}
.nav__list {
  padding-top: 80px;
}
.nav__item {
  border-top: 1px solid #ffffff;
}
.nav__link {
  display: block;
  padding: 60px 15px;
  font-family: "Dorsa";
  font-style: normal;
  font-weight: 400;
  font-size: 100px;
  line-height: 106px;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  color: #ffffff;
  -webkit-transition: 0.3s;
  -o-transition: 0.3s;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .nav__link {
    font-size: 200px;
    line-height: 211px;
    padding: 20px 30px;
  }
  .nav__link:hover {
    background: #E9896B;
  }
}

.dis-scroll {
  padding-right: 0 !important;
}

.main {
  padding-top: 70px;
  min-height: 100%;
  position: relative;
  height: 100%;
}
@media (min-width: 1024px) {
  .main {
    padding-top: 80px;
  }
}
@media (min-width: 1024px) {
  .main__line {
    width: 2px;
    height: calc(var(--index) * 10);
    background: #293A50;
    position: absolute;
    left: 50%;
    bottom: calc(var(--index) * -5);
    z-index: -1;
    -webkit-transform: translate(0%, -50%);
    -ms-transform: translate(0%, -50%);
    transform: translate(0%, -50%);
  }
}
.main__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: reverse;
  -ms-flex-direction: column-reverse;
  flex-direction: column-reverse;
}
@media (min-width: 1024px) {
  .main__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: relative;
    min-height: 100%;
    height: 100%;
  }
}
.main__text {
  font-family: "Roboto Condensed";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 143.19%;
  padding: 30px 15px 0;
  position: relative;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  color: #293a50;
  border-top: 1px solid #293a50;
}
.main__text p:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1024px) {
  .main__text {
    top: calc(var(--index) * 3);
    border-top: none;
    padding: 0;
    max-width: 322px;
    margin-left: auto;
    margin-right: 30px;
  }
  .main__text p:not(:last-child) {
    margin-bottom: 15px;
  }
}
.main__item {
  position: absolute;
  z-index: 2;
  height: 77px;
  width: 177px;
  fill: #293a50;
}
.main__item-left {
  top: 35px;
  left: 15px;
}
.main__item-right {
  bottom: 35px;
  right: 15px;
}
@media (min-width: 1024px) {
  .main__item {
    width: calc(var(--index) * 17);
    height: calc(var(--index) * 7);
  }
  .main__item-left {
    left: calc(var(--index) * 0);
    top: calc(var(--index) * 1.5);
  }
  .main__item-right {
    right: calc(var(--index) * 0);
    bottom: calc(var(--index) * 1.5);
  }
}
@media (min-width: 1600px) {
  .main__item {
    width: calc(var(--index) * 21);
    height: calc(var(--index) * 10);
  }
}
.main__block {
  position: relative;
  max-width: 490px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 50px;
}
@media (min-width: 1024px) {
  .main__block {
    max-width: calc(var(--index) * 40.5);
    margin-top: calc(var(--index) * 3);
    margin-bottom: 0;
  }
}
@media (min-width: 1600px) {
  .main__block {
    max-width: calc(var(--index) * 48);
    margin-top: calc(var(--index) * -4);
  }
}
.main__box {
  width: 264px;
  height: 264px;
  margin: 0 auto;
  padding: 10px;
  position: relative;
}
.main__box:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background-image: url(../img/ellipse-mobile.svg);
  background-repeat: no-repeat;
  background-position: 0% 100%;
}
@media (min-width: 1024px) {
  .main__box {
    background: #EBF0FE;
    width: calc(var(--index) * 22);
    height: calc(var(--index) * 22);
  }
  .main__box:before {
    background-size: calc(var(--index) * 16);
  }
  .main__box:after {
    height: 53px;
  }
}
@media (min-width: 1600px) {
  .main__box {
    width: calc(var(--index) * 25);
    height: calc(var(--index) * 24.4);
  }
  .main__box:before {
    background-size: calc(var(--index) * 18.4);
  }
}
.main__image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: start;
  align-self: flex-start;
  width: 100%;
  height: 100%;
  width: 245px;
  height: 245px;
  border-radius: 50%;
  overflow: hidden;
  position: relative;
  margin: 0 auto;
}
.main__image:before {
  content: "";
  display: inline-block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0px;
  top: 0px;
  background: rgba(41, 58, 80, 0.35);
}
@media (min-width: 1024px) {
  .main__image {
    width: calc(var(--index) * 21);
    height: calc(var(--index) * 21);
  }
}
@media (min-width: 1600px) {
  .main__image {
    width: calc(var(--index) * 23);
    height: calc(var(--index) * 23);
  }
}
.main__button {
  display: none;
}
@media (min-width: 1024px) {
  .main__button {
    display: block;
    border: none;
    width: calc(var(--index) * 7);
    height: calc(var(--index) * 7);
    cursor: pointer;
    position: absolute;
    left: calc(var(--index) * 9);
    bottom: calc(var(--index) * 3);
  }
  .main__button:before {
    content: "";
    display: inline-block;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0px;
    top: 0px;
    background-image: url(../img/ellipse-button.svg);
    background-repeat: no-repeat;
    background-size: calc(var(--index) * 7);
  }
}
.main span {
  border-radius: 50%;
  background: #e9896b;
  color: #ffffff;
  width: 90%;
  height: 90%;
  margin: 10px;
  font-family: "Dorsa";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
}

.block-container {
  min-height: 100vh;
}
/*# sourceMappingURL=main.css.map */