<header class="header">

  <div class="header__content">
    <a href="main.html" class="header__logo logo">
      <img
        loading="lazy"
        src="img/logo.svg"
        class="logo__image"
        alt="logo"
      />
    </a>


    <div class="header__menu">
      <button
        class="burger"
        aria-label="Открыть меню"
        aria-expanded="false"
        data-burger
      >
        <span class="burger__line"></span>
      </button>

      <nav class="nav" data-menu>
        <ul class="nav__list">
          <li class="nav__item"><a class="nav__link" href="#">room categories</a></li>
          <li class="nav__item"><a class="nav__link" href="#">hotel services</a></li>
          <li class="nav__item"><a class="nav__link" href="#">Photo gallery</a></li>
          <li class="nav__item"><a class="nav__link" href="#">contacts</a></li>
        </ul>
      </nav>
    </div>
  </div>
</header>

<div class="bb"></div>
