<nav class="main-menu mousemove-none">
  <div class="container">
    <div class="main-menu__inner">

      <ul class="main-menu__list">
        <li class="main-menu__items">
          <a href="main.html"  class="main-menu__link">
            <svg class="main-menu__icon">
              <use xlink:href="img/sprite.svg#home"></use>
            </svg>
          </a>
        </li>
        <li class="main-menu__items">
          <a href="federation.html" class="main-menu__link">Федерация</a>

          <ul class="main-menu__item item-nav">
            <li class="item-nav__list">
              <a href="president.html" class="item-nav__link">Президент</a>
            </li>

            <li class="item-nav__list">
              <a href="presidium.html" class="item-nav__link">Президиум</a>
            </li>

            <li class="item-nav__list">
              <a href="#" class="item-nav__link">Комиссия президиума</a>

              <ul class="item-nav__body">
                <li class="item-nav__list_first trigger">
                  <span class="trigger__btn">Тренерский совет
                    <svg class="trigger__arrow">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </span>
                  <ul class="trigger__dropdown">
                    <li class="trigger__list"><a href="judge.html">Судейская коллегия</a></li>
                    <li class="trigger__list"><a href="#">Комиссия по тестированию</a></li>
                    <li class="trigger__list"><a href="#">Аттестационная комиссия</a></li>
                  </ul>
                </li>

                <li class="item-nav__list_first">
                  <a href="judge.html" class="item-nav__link_second">Судейская коллегия</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Комиссия по тестированию</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Аттестационная комиссия</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Дисциплинарная комиссия</a>
                </li>

                <li class="item-nav__list_first trigger">
                  <span class="trigger__btn">Работа с ветеранами
                    <svg class="trigger__arrow">
                      <use xlink:href="img/sprite.svg#arrow"></use>
                    </svg>
                  </span>
                  <ul class="trigger__dropdown">
                    <li class="trigger__list"><a href="judge.html">Судейская коллегия</a></li>
                    <li class="trigger__list"><a href="#">Комиссия по тестированию</a></li>
                    <li class="trigger__list"><a href="#">Аттестационная комиссия</a></li>
                  </ul>
                </li>
              </ul>
            </li>

            <li class="item-nav__list">
              <a href="commission.html" class="item-nav__link">Контрольно-ревизионная комиссия</a>
            </li>

            <li class="item-nav__list">
              <a href="directorate.html" class="item-nav__link">Дирекция ФФКМ</a>

              <ul class="item-nav__body_first">
                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Спортивно-техническая комиссия</a>
                </li>
              </ul>
            </li>

            <li class="item-nav__list">
              <a href="members-ffkm.html" class="item-nav__link">Члены ФФКМ</a>

              <ul class="item-nav__body_first">
                <li class="item-nav__list_first">
                  <a href="impotrant-ffkm.html" class="item-nav__link_second">Почетные члены ФФКМ</a>
                </li>
              </ul>
            </li>

            <li class="item-nav__list">
              <a href="payment.html" class="item-nav__link">Оплата членских взносов</a>
            </li>

            <li class="item-nav__list">
              <a href="muscovites.html" class="item-nav__link">Москвичи - Заслуженные тренеры страны</a>
            </li>
          </ul>

        </li>

        <li class="main-menu__items">
          <a href="season.html" class="main-menu__link">Сезон 2022/23</a>
          <ul class="main-menu__item item-nav">

            <li class="item-nav__list">
              <a href="#" class="item-nav__link">Соревнования</a>

              <ul class="item-nav__body">

                <li class="item-nav__list_first">
                  <a href="current-competitions.html" class="item-nav__link_second">Текущие соревнования</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="calendar-general.html" class="item-nav__link_second">Календарь спортивных соревнований</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="calendar-of-synchronized.html" class="item-nav__link_second">Календарь соревнований по синхронному катанию</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Календарь соревнований для любителей</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Календарь всероссийских соревнований</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="apply-for-testing.html" class="item-nav__link_second">Подать заявку</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="skater-insurance.html" class="item-nav__link_second">Страхование фигуристов</a>
                </li>


                <li class="item-nav__list_first">
                  <a href="figure-skaters-of-Moscow.html" class="item-nav__link_second">Фигуристы Москвы</a>
                </li>

              </ul>
            </li>

            <li class="item-nav__list">
              <a href="#" class="item-nav__link">Тестирование</a>

              <ul class="item-nav__body_first">
                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Календарь тестирования скольжения</a>
                </li>

                <li class="item-nav__list_first">
                  <a href="#" class="item-nav__link_second">Подать заявку</a>
                </li>
              </ul>
            </li>

            <li class="item-nav__list">
              <a href="seminars.html" class="item-nav__link">Семинары и мастер-классы</a>
            </li>

          </ul>
        </li>


        <li class="main-menu__items ">
          <a href="documentation.html" class="main-menu__link">Документы</a>

          <ul class="main-menu__item item-nav item-nav_mini">

            <li class="item-nav__list">
              <a href="athletes.html" class="item-nav__link">Спортсменам</a>
            </li>

            <li class="item-nav__list">
              <a href="coaches.html" class="item-nav__link">Тренерам</a>
            </li>

            <li class="item-nav__list">
              <a href="judges.html" class="item-nav__link">Судьям</a>
            </li>

            <li class="item-nav__list">
              <a href="organizations.html" class="item-nav__link">Организациям</a>
            </li>

            <li class="item-nav__list">
              <a href="FFKM-members.html" class="item-nav__link">Членам ФФКМ</a>
            </li>

            <li class="item-nav__list">
              <a href="dance-groups.html" class="item-nav__link">Танцевальным коллективам</a>
            </li>
          </ul>
        </li>

        <li class="main-menu__items">
          <a href="search-school.html" class="main-menu__link">Найти школу</a>

          <ul class="main-menu__item item-nav">

            <li class="item-nav__list">
              <a href="training.html" class="item-nav__link">Организации, осуществляющие спортивную подготовку</a>
            </li>

            <li class="item-nav__list">
              <a href="#" class="item-nav__link">Организации массового спорта</a>
            </li>

            <li class="item-nav__list">
              <a href="#" class="item-nav__link">Индивидуальные предприниматели</a>
            </li>

          </ul>
        </li>

        <li class="main-menu__items">
          <a href="contacts.html" class="main-menu__link">Контакты</a>

          <ul class="main-menu__item item-nav">

            <li class="item-nav__list">
              <a href="contacts.html" class="item-nav__link">Контакты ФФКМ</a>
            </li>

            <li class="item-nav__list">
              <a href="contacts-organizations.html" class="item-nav__link">Контакты вышестоящих организаций</a>
            </li>

          </ul>
        </li>

      </ul>

      <div class="main-menu__search search">
        <div class="search__wrapper">
          <input type="text" class="search__input" placeholder="Поиск по сайту">
          <div class="search__box">
            <svg class="search__icon">
              <use xlink:href="img/sprite.svg#search"></use>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>
</nav>
